*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgray;
}

.main-container {
    background-color: white;
    font-family: sans-serif;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-gambar{
    display: flex;
    flex-wrap: wrap;
}

.img-gambar img {
    width: 20%;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

.menu-header a {
    flex: 1;
    text-decoration: none;
    background-color: rgb(204, 36, 36);
    color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

.menu-header a:hover{
    background-color: rgb(200, 209, 39);
    color: black;
}


